* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  font-size: 1.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #1e2229;
  background: linear-gradient(90deg, rgb(55, 55, 55) 0%, #1e2229 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#navbar a {
  background-color: #1e2229;
  float: right;
  font-size: 1.5rem;
  padding: 26px 25px;
  margin: 0 2px;
  text-decoration: none;
  color: aliceblue;
  border: 0;
  transition: all 0.1s linear;
}

#navbar a:hover {
  font-weight: 600;
  box-shadow: 0 0 10px aliceblue;
}

.icon-name {
  color: aliceblue;
  float: left;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  border: 0;
}

.links {
  float: right;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
}

.link {
  background-color: #1e2229;
  float: right;
  font-size: 1.5rem;
  padding: 26px 25px;
  text-decoration: none;
  color: aliceblue;
  border: 0;
  transition: all 0.1s linear;
}
.link:hover {
  font-weight: 600;
  box-shadow: 0 0 10px aliceblue;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  align-items: center;
  margin: 1px 8px 0;
  display: flex;
  gap: 0.5rem;
}

.material-symbols-outlined:hover {
  font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}

.bag-number {
  margin-top: 2px;
}

.menu-icon {
  display: none;
}

/* Login/Register Styling */
#account-form {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px auto;
  padding: 25px 10px;
}

#account-form h1 {
  text-align: center;
}

#account-form label {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2rem;
}

#account-form input {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  text-indent: 5px;
}

#account-form button {
  display: block;
  font-size: 1rem;
  padding: 3px 8px;
  margin: 25px auto 0;
}

/* **************Home************** */

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.main-background {
  background-image: url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3870&q=80');
  border-style: none;
  height: 750px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.container {
  width: 50%;
  padding: 30px;
  margin: 0 auto;
  margin-top: 300px;
  background-color: #fff;
}

.main-title {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

.main-text {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0;
}

/* **************Profile************** */

/* **************Products************** */

.product-actions {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.searchbar {
  margin: 10px auto;
}

.searchbar label {
  font-size: 1.3rem;
  margin: 0 10px;
}

.searchbar input {
  font-size: 1.1rem;
  margin: 0 10px;
  text-indent: 5px;
}

.product-categories {
  margin: 10px auto 0;
}

.category-btn {
  margin: 0 2px;
  padding: 4px 12px;
  color: aliceblue;
  background-color: rgb(78, 104, 255);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.category-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px rgb(78, 104, 255);
}

.sort-products {
  margin: 15px auto 0;
}

.sort-btn {
  margin: 0 2px;
  padding: 4px 12px;
  color: aliceblue;
  background-color: #009a0a;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.sort-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #01b90e;
}

.products-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 50px 100px;
}

.product {
  height: 520px;
  width: 330px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 3px 10px rgba(41, 91, 184, 0.282);
  -webkit-filter: drop-shadow(0 6px 20px rgba(36, 88, 186, 0.017));
  filter: drop-shadow(0 6px 20px rgba(47, 110, 226, 0.017));
  border-radius: 10px;
}

.product-image {
  display: block;
  margin: 10px 0;
  height: 300px;
  width: 100%;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.product-image:hover {
  transform: scale(1.1);
}

.product-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  color: #252e48;
  font-size: 1rem;
  margin: 10px;
}

.product-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 10px auto;
}

.add-btn {
  padding: 8px 12px;
  max-width: calc((100%) - 60px);
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: #1f98f4;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.add-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #1f98f4;
}

.view-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  bottom: 5px;
  background-color: #01b90e;
  border-radius: 10px;
  color: #fff;
  transition: all 0.1s linear;
}

.view-link:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #01b90e;
}

/* **************View Product************** */

.product-view {
  display: flex;
  justify-content: center;
  padding: 75px 50px;
}
.details-image-cover {
  padding: 20px;
  width: 40%;
}
.details-image {
  margin-top: 25px;
  height: 400px;
  width: 380px;
}

.product-details {
  margin-top: 10px;
  padding: 20px;
  width: 50%;
}

.details-category {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
  padding: 20px 0 20px;
}

.details-title {
  margin: 0 0 10px;
  font-size: 2rem;
  margin: 20px 0;
}

.details-rating,
.details-price {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.details-description {
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
}

.options {
  margin: 50px 0;
}

.return {
  display: block;
  padding: 8px 12px;
  max-width: calc((100%) - 60px);
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background-color: #01b90e;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.return:hover {
  box-shadow: 3px 3px 5px #01b90e;
  font-weight: 600;
}

/***************Cart***************/

.cart-page {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding: 10px;
}

.cart {
  margin: 20px auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.267);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  padding: 50px;
}

.checkout-section {
  margin: 20px auto;
  height: 145px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.267);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  padding: 50px;
}

.cart-page h1,
.cartSubtotal {
  text-align: center;
}

.item {
  display: flex;
  padding: 20px 0;
}

.item-image {
  width: 120px;
  height: 120px;
  margin: 10px 10px;
}

.item-title {
  width: 30%;
  font-size: 1.3rem;
  margin: auto 10px;
  text-align: center;
  transition: all 0.2s linear;
}

.item-title:hover {
  font-size: 1.5rem;
  color: blueviolet;
}

.quantity-section {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.cart-values {
  width: 10%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

.incre-btn {
  padding: 3px 10px;
  margin: auto 5px;
  color: aliceblue;
  background-color: #1f98f4;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.incre-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #1f98f4;
}

.decre-btn {
  padding: 4px 11px;
  margin: auto 5px;
  color: aliceblue;
  background-color: crimson;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.decre-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px crimson;
}

.remove-item-btn {
  color: crimson;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  margin: auto 0;
  background-color: #ffffff;
  transition: all 0.1s linear;
  font-weight: 500;
}

.remove-item-btn:hover {
  font-weight: 600;
  font-size: 1.3rem;
  box-shadow: 3px 3px 5px crimson;
}

/*    ****************************************************************** */
/* ********************************Mobile********************************** */
/*    ****************************************************************** */

@media screen and (max-width: 426px) {
  #navbar {
    height: 50px;
    width: 100%;
    font-size: 1.3rem;
    padding: 0em 3em;
    color: aliceblue;
    background-color: rgb(32, 35, 48);
  }

  .icon-name {
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: aliceblue;
    position: absolute;
    margin-top: -20px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 20%);
    font-size: 1.8rem;
    cursor: pointer;
    display: block;
  }

  .material-symbols-outlined {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: all 0.5s ease;
    background-color: rgb(32, 35, 48);
  }

  .links-active {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50px;
    left: 0%;
    transition: all 0.5s ease;
    background-color: rgb(32, 35, 48);
  }

  #navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 1em;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
  }

  .home {
    padding: 325px 0;
    height: 100%;
    text-align: center;
  }

  /**************** Account form ************/
  #account-form {
    width: 90%;
  }

  /*************** Products ****************/
  .searchbar label {
    font-size: 1rem;
    margin: 0 10px;
  }

  .searchbar input {
    font-size: 0.8rem;
    margin: 0 10px;
    text-indent: 5px;
  }

  .category-btn {
    padding: 4px 10px;
    font-size: 0.8rem;
  }

  .sort-products {
    margin: 8px auto 0;
  }

  .sort-btn {
    padding: 4px 10px;
    font-size: 0.75rem;
  }

  .products-container {
    padding: 10px 20px;
    margin: 10px auto;
  }

  .product {
    height: 220px;
    width: 130px;
    padding: 15px 5px;
  }

  .product-actions {
    margin: 10px 0;
  }

  .product-info {
    margin-top: 10px;
    gap: 0.3rem;
  }

  .product-info h3 {
    font-size: 12px;
  }

  .product-info p {
    font-size: 10px;
    margin: 1px 0 0;
  }

  .product-image {
    margin: 0 auto;
    height: 100px;
    width: 90%;
  }

  .product-options {
    display: flex;
    margin-top: 5px;
    height: 10px;
    width: 100%;
    gap: 0.6rem;
  }

  .add-btn {
    padding: 2px 4px;
    font-size: 0.65rem;
    border-radius: 5px;
  }

  .view-link {
    font-size: 0.65rem;
    padding: 2px 5px;
    border-radius: 5px;
  }

  /* **************View Product************** */

  .product-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .details-image-cover {
    width: 100%;
    padding: 10px 75px;
  }
  .details-image {
    margin-top: 25px;
    height: 250px;
    width: 100%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .details-price,
  .details-rating,
  .details-description {
    font-size: 1rem;
  }

  .product-details {
    margin: 10px auto;
    padding: 10px 20px;
    width: 100%;
  }

  .return {
    margin: 0 auto;
    font-size: 1rem;
  }

  /* **********Cart********** */
  .cart-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }

  .cart {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
  }

  .checkout-section {
    margin: 20px auto;
    width: 90%;
    padding: 10px;
  }

  .checkout-section h2 {
    margin: 30px 0 0;
    font-size: 1.1rem;
  }

  .cart-page h1,
  .cartSubtotal {
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .item-image {
    width: 120px;
    height: 120px;
    margin: 10px auto;
  }

  .item-title {
    width: 100%;
    font-size: 1rem;
    margin: 10px 10px;
    text-align: center;
    transition: all 0.2s linear;
  }

  .item-title:hover {
    font-size: 1.1rem;
    color: blueviolet;
  }

  .quantity-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 75px;
  }

  .cart-values {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
  }

  .incre-btn {
    padding: 3px 10px;
    margin: auto 5px;
  }

  .incre-btn:hover {
    font-weight: 600;
    box-shadow: 3px 3px 5px #1f98f4;
  }

  .decre-btn {
    padding: 4px 11px;
    margin: auto 5px;
  }

  .remove-item-btn {
    font-size: 1rem;
    padding: 4px 12px;
    margin: auto 0;
  }

  .remove-item-btn:hover {
    font-size: 1.1rem;
  }
}
