* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  padding: 2.5em;
  justify-content: space-evenly;
  background-color: #1e2229;
}

#navbar a {
  float: right;
  font-size: 1.5rem;
  padding: 25px 25px;
  margin-top: -40px;
  text-decoration: none;
  color: aliceblue;
  transition: all 0.2s linear;
}

#navbar a:hover {
  font-weight: 600;
  box-shadow: 0 0 10px aliceblue;
}

.icon-name {
  float: left;
  background-color: #1e2229;
  font-size: 1.5rem;
  margin-top: -15px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  border: 0;
}

.link {
  background-color: #1e2229;
  float: right;
  margin-top: -40px;
  font-size: 1.5rem;
  padding: 25px 25px;
  text-decoration: none;
  color: aliceblue;
  border: 0;
  transition: all 0.1s linear;
}

.link:hover {
  font-weight: 600;
  box-shadow: 0 0 10px aliceblue;
}

/* Login/Register Styling */
#account-form {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px auto;
  padding: 25px 10px;
}

#account-form h1 {
  text-align: center;
}

#account-form label {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 1rem;
}

#account-form input {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
}

#account-form button {
  display: block;
  font-size: 1rem;
  padding: 3px 8px;
  margin: 25px auto 0;
}

/* **************Products************** */

.product-actions {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.searchbar {
  margin: 10px auto;
}

.searchbar label {
  font-size: 1.3rem;
  margin: 0 10px;
}

.searchbar input {
  font-size: 1.1rem;
  margin: 0 10px;
  text-indent: 5px;
}

.product-categories {
  margin: 10px auto 0;
}

.category-btn {
  margin: 0 2px;
  padding: 4px 12px;
  color: aliceblue;
  background-color: rgb(78, 104, 255);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.category-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px rgb(78, 104, 255);
}

.products-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 50px 100px;
}

.product {
  height: 520px;
  width: 330px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 3px 10px rgba(41, 91, 184, 0.282);
  -webkit-filter: drop-shadow(0 6px 20px rgba(36, 88, 186, 0.017));
  filter: drop-shadow(0 6px 20px rgba(47, 110, 226, 0.017));
  border-radius: 10px;
}

.product-image {
  display: block;
  margin: 10px 0;
  height: 300px;
  width: 100%;
  border-radius: 15px;
  transition: all 0.2s linear;
}

.product-image:hover {
  transform: scale(1.1);
}

.product-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  color: #252e48;
  font-size: 1rem;
  margin: 10px;
}

.product-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 10px auto;
}

.add-btn {
  padding: 8px 12px;
  max-width: calc((100%) - 60px);
  font-size: 15px;
  border: none;
  color: #fff;
  background-color: #1f98f4;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.add-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #1f98f4;
}

.view-link {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 6px 12px;
  bottom: 5px;
  background-color: #01b90e;
  border-radius: 10px;
  color: #fff;
  transition: all 0.1s linear;
}

.view-link:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #01b90e;
}

/* **************View Product************** */

.product-view {
  display: flex;
  justify-content: center;
  padding: 75px 50px;
}
.details-image-cover {
  padding: 20px;
  width: 40%;
}
.details-image {
  margin-top: 70px;
  height: 400px;
  width: 380px;
}

.product-details {
  padding: 20px;
  width: 50%;
}

.details-category {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
  padding: 20px 0 20px;
}

.details-title {
  margin: 0 0 10px;
  font-size: 2rem;
  margin: 20px 0;
}

.details-rating,
.details-price {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.details-description {
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
}

.options {
  margin: 50px 0;
}

.return {
  padding: 8px 12px;
  max-width: calc((100%) - 60px);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background-color: #01b90e;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

.return:hover {
  box-shadow: 3px 3px 5px #01b90e;
  font-weight: 600;
}

/***************Cart***************/

.cart-page {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding: 10px;
}

.cart {
  margin: 20px auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.267);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  padding: 50px;
}

.checkout-section {
  margin: 20px auto;
  height: 145px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.267);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  padding: 50px;
}

.cart-page h1,
.cartSubtotal {
  text-align: center;
}

.item {
  display: flex;
  padding: 20px 0;
}

.item-image {
  width: 120px;
  height: 120px;
  margin: 10px 10px;
}

.item-title {
  width: 30%;
  font-size: 1.3rem;
  margin: auto 10px;
  text-align: center;
  transition: all 0.2s linear;
}

.item-title:hover {
  font-size: 1.5rem;
  color: blueviolet;
}

.quantity-section {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.cart-values {
  width: 10%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

.incre-btn {
  padding: 3px 10px;
  margin: auto 5px;
  color: aliceblue;
  background-color: #1f98f4;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.incre-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px #1f98f4;
}

.decre-btn {
  padding: 4px 11px;
  margin: auto 5px;
  color: aliceblue;
  background-color: crimson;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  transition: all 0.1s linear;
}

.decre-btn:hover {
  font-weight: 600;
  box-shadow: 3px 3px 5px crimson;
}

.remove-item-btn {
  color: crimson;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  margin: auto 0;
  background-color: #ffffff;
  transition: all 0.1s linear;
  font-weight: 500;
}

.remove-item-btn:hover {
  font-weight: 600;
  font-size: 1.3rem;
  box-shadow: 3px 3px 5px crimson;
}
